<template name="landingPage">
    <header>
        <div class="main-header">
        <div class="logo">
            <div class="logo-contain"><a href="#">LOGO</a></div>
            <div class="container">
                    <div class="elemento">
                        <!-- <div class="content-gear">
                          <div class="gear"></div>  
                      </div> -->
                    </div>	
            </div>
        </div>
        
        <div class="menu">
            <ul>
              <li><a href="#">Acerca de mi</a></li>
              <li><a href="#">Portafolio</a></li>
              <li> <a href="#">Contactame</a></li>
            </ul>
           <!-- inicio home  -->
        <div class="home">
          <h1>Hola k ase</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing el
            Lorem ip
             ipsum dolor sit amet consectetur adipisicing el
            Lorem ip
             Lorem i
             ipsum dolor sit amet consectetur adipisicing el
             ipsum dolor sit amet consectetur adipisicing el
            Lorem ip
            Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
         </div>
      <!--  fin home  -->
          </div>
          
        </div>
      </header>
      
      <main>  
        <!-- inicio About  -->
        <div class="about">
          <div class="container-about">
            <div class="experiencia">
              <h1>Title</h1>
              <p>Lorem ipsum, dolor sit amet consectetur a
               Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde expedita quam similique doloremque eum voluptas recusandae sint alias hic impedit, iste perferendis, pariatur magnam nulla at, modi perspiciatis neque cum? dipisicing elit. Dolores natus asperiores voluptate nesciunt, fugit officiis ea quod, magni .</p>
            </div>

            <!--INCIO container linea de tiempo -->
            <div class="line-time-container"> 
            <!-- eventos en un mismo anio-->
              <section class="line-time-year">
                <div class="each-year">
                  <div class="title-year">2016</div>
                  <!-- ============ item ================= -->
                  <div class="each-event">
                          <div class="card-header">
                            <div class="card-number">
                              <span>01</span>
                            </div>
                            <h2 class="card-title"><span class="small">subtitle</span> technology</h2>
                          </div>
                          <div class="body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
                            <img src="http://placehold.it/1000x500" alt="Graphic">
                          </div>
                      </div>
                  <!-- ============ item ================= -->
                <!-- ============ item ================= -->
                <div class="each-event">
                    <div class="card-header">
                      <div class="card-number">
                        <span>01</span>
                      </div>
                      <h2 class="card-title"><span class="small">subtitle</span> technology</h2>
                    </div>
                    <div class="body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
                      <img src="http://placehold.it/1000x500" alt="Graphic">
                    </div>
                </div>
                <!-- ============ item ================= -->
                <!-- ============ item ================= -->
                <div class="each-event">
                    <div class="card-header">
                      <div class="card-number">
                        <span>01</span>
                      </div>
                      <h2 class="card-title"><span class="small">subtitle</span> technology</h2>
                    </div>
                    <div class="body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
                      <img src="http://placehold.it/1000x500" alt="Graphic">
                    </div>
                </div>
                <!-- ============ item ================= -->
                  </div><!-- eventos de un anio en epsecifico  -->
              </section>
              <!-- ============ fin de eventos por anio ================= -->

              
            <!-- eventos en un mismo anio-->
            <section class="line-time-year">
                <div class="each-year">
                  <div class="title-year">2015</div>
                  <!-- ============ item ================= -->
                  <div class="each-event">
                      <div class="card-header">
                        <div class="card-number">
                          <span>01</span>
                        </div>
                        <h2 class="card-title"><span class="small">subtitle</span> technology</h2>
                      </div>
                      <div class="body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
                        <img src="http://placehold.it/1000x500" alt="Graphic">
                      </div>
                  </div>
                  <!-- ============ item ================= -->
                <!-- ============ item ================= -->
                <div class="each-event">
                    <div class="card-header">
                      <div class="card-number">
                        <span>01</span>
                      </div>
                      <h2 class="card-title"><span class="small">subtitle</span> technology</h2>
                    </div>
                    <div class="body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
                      <img src="http://placehold.it/1000x500" alt="Graphic">
                    </div>
                </div>
                <!-- ============ item ================= -->
                <!-- ============ item ================= -->
                <div class="each-event">
                    <div class="card-header">
                      <div class="card-number">
                        <span>01</span>
                      </div>
                      <h2 class="card-title"><span class="small">subtitle</span> technology</h2>
                    </div>
                    <div class="body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
                      <img src="http://placehold.it/1000x500" alt="Graphic">
                    </div>
                </div>
                <!-- ============ item ================= -->
                  </div><!-- eventos de un anio en epsecifico  -->
              </section>
              <!-- ============ fin de eventos por anio ================= -->
              </div>
              <!--INCIO container linea de tiempo -->
          </div>
         </div>
      <!--  fin About  -->
        
         <!-- inicio contac  -->
        <div class="portafolio">
          <!-- <h1>Portafolio</h1> -->
          <h1>Titulo</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum rerum doloribus sequi at impedit dolore nisi</p>
          <h2>Sub titulo</h2>
          <!-- <h2>Proyectos recientes</h2> -->
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis porro error </p>
          <div class="container-port">
              <div class="port-item"><img class="img-item-porta" src="http://placehold.it/500x500" alt="img"></div>
              <div class="port-item"><img class="img-item-porta" src="http://placehold.it/500x500" alt="img"></div>
              <div class="port-item"><img class="img-item-porta" src="http://placehold.it/500x500" alt="img"></div>
              <div class="port-item"><img class="img-item-porta" src="http://placehold.it/500x500" alt="img"></div>
              <div class="port-item"><img class="img-item-porta" src="http://placehold.it/500x500" alt="img"></div>
              <div class="port-item"><img class="img-item-porta" src="http://placehold.it/500x500" alt="img"></div>
              <div class="port-item"><img class="img-item-porta" src="http://placehold.it/500x500" alt="img"></div>	
              <div class="port-item"><img class="img-item-porta" src="http://placehold.it/500x500" alt="img"></div>
              <div class="port-item"><img class="img-item-porta" src="http://placehold.it/500x500" alt="img"></div>
              <div class="port-item"><img class="img-item-porta" src="http://placehold.it/500x500" alt="img"></div>
              <div class="port-item"><img class="img-item-porta" src="http://placehold.it/500x500" alt="img"></div>
              <div class="port-item"><img class="img-item-porta" src="http://placehold.it/500x500" alt="img"></div>
              <div class="port-item"><img class="img-item-porta" src="http://placehold.it/500x500" alt="img"></div>
          </div>
          <div class="container-view-more">
            <div class="view-more">
              <a class="btn-view-more" href="#">Mostrar <span>+</span></a>
            </div>
          </div>
         </div>
      <!--  fin contac  -->
       
         <!-- inicio recomendaciones  -->
        <div class="recomendaciones">
          <h1>Recomendaciones</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. i</p>
          <div class="container-recom">
            
          </div>
          <div class="container-view-more">
            <a class="btn btn-view-more" href="#">Mostrar <span>+</span></a>
          </div>
         </div>
      <!--  fin recomendaciones  -->
        
       <!-- inicio contac  -->
        <div class="contac">
          <h1 class="title-contac">Title</h1>
          <p>Lorem ipsum dolor sit amet consectetm ipsum dolor sit amet consectetur adipisicing elit. Harumur adipisicing elit. Harum rerum doloribus sequi at impedit dolore nisi</p>
          <h2 class="sub-title-contac">Escribeme a</h2>
                  <p>Lorem ipsum dolor sit amet consectm ipsum dolor sit amet consectetur aditenetur, repellat nulla autem pariatur atque aliquam explicabo a cumque velit dolores! </p>
                   
          <div class="container-contact">
              <div class="item-grid">
                  <form class="form-contact" action="">
                    <input type="text" class="input-contact" id="" name="" placeholder="Nombre"/>
                    <input type="text" class="input-contact" id="" name="" placeholder="Telefono"/>
                    <input type="text" class="input-contact" id="" name="" placeholder="Asunto"/>
                    <input type="text" class="input-contact" id="" name="" placeholder="correo"/>
                    <textArea class="text-area-mail" placeholder="Mensaje"></textArea>
                    <input type="submit" class="input-contact" id="" value="Enviar"/>
                  </form>
              </div>

              <div class="item-grid"><textArea class="text-area-mail area-none" placeholder="Mensaje"></textArea></div>

              <div class="item-grid">
                <div class="container-download">
                  <a class="btn-download" href="#">Descargar <span>CV</span></a>
                </div>
              </div>

           </div>
         </div>
      <!--  fin contac  -->
      </main>
      
      <footer class="container-footer">
        <div class="item-footer"><div class="logo"><a href="#">LOGO</a></div></div>
        <div class="item-footer">
                <ul class="menu-footer">
                  <li><a href="#">Acerca de mi</a></li>
                  <li><a href="#">Portafolio</a></li>
                  <li> <a href="#">Contactame</a></li>
                </ul>
                <div class="redes">
                  <a href="#"><span class="icono">facebook</span></a>
                  <a href="#"><span class="icono">linkedin</span></a>
                  <a href="#"><span class="icono">youtube</span></a>
                  <a href="#"><span class="icono">Github</span></a>
               </div>
        </div>
        <div class="item-footer">
          <div class="footer-creditos">
            <p>c Lorem ipsum, dolor sit amet consectetur <span>adipisicing elit</span> . 2018 </p>
          </div>
        </div>
      </footer>
      
</template>